
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="ThongKeDoanhThu" asp-controller="ThongKe" class="btn btn-success"> Thống kê doanh thu</a>
    <a asp-action="ThongKeBanKhachChoi" asp-controller="ThongKe" class="btn btn-primary"> Thống kê bàn khách đã chơi </a>
</p>


